


<table style="background-color:   #88acef">
    <tr>
        <td>
            
            <h4 style="background-color: rgb(115, 211, 228);">Flight By Carrier</h4>
            <input type="text" #carrierName>
            <button (click)="getFlightByCarrier(carrierName.value)">Search</button>

            <h4 style="background-color: rgb(115, 211, 228);">Flight By Source</h4>
            <input type="text" #sourceAirport>
            <button (click)="getFlightBySource(sourceAirport.value)">Search</button>

            <h4 style="background-color: rgb(115, 211, 228);">Flight By Destination</h4>
            <input type="text" #destinationAirport >
            <button (click)="getFlightByDestination(destinationAirport.value)">Search</button>
        
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="background-color: rgb(115, 211, 228);">All Flight List</h2>
            <div *ngFor="let f of allFlights">
                <table>
                    <tr>
                        <div>Flight id:{{f.flightId}}</div>
                        <div>Carrier Name: {{f.carrierName}}</div>
                        <div>Source Airport: {{f.sourceAirport}}</div>
                        <div>Destination Airport :{{f.destinationAirport}}</div>
                        <div>Duration :{{f.duration}}</div>
                        <hr/>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>













