
    <h1>Flight Review Form</h1>
    
    <form (ngSubmit)="onSubmit()" #flightReviewForm="ngForm">
      <tr>
      <div class="form-group">
        <label for="flightId">Flight Number</label>
        <input type="text" class="form-control" id="flightId" name="flightId"
               [(ngModel)]="model.flightId" placeholder="Enter FlightId e.g 101" required>
        
      </div>
    </tr>
    <br><br>


    
    <tr>
      <div class="form-group">
        <label for="numberOfStars">Number of Stars</label>
        <div class="star-rating">
          <span class="star" [class.filled]="model.numberOfStars >= 1" (click)="model.numberOfStars = 1">&#9733;</span>
          <span class="star" [class.filled]="model.numberOfStars >= 2" (click)="model.numberOfStars = 2">&#9733;</span>
          <span class="star" [class.filled]="model.numberOfStars >= 3" (click)="model.numberOfStars = 3">&#9733;</span>
          <span class="star" [class.filled]="model.numberOfStars >= 4" (click)="model.numberOfStars = 4">&#9733;</span>
          <span class="star" [class.filled]="model.numberOfStars >= 5" (click)="model.numberOfStars = 5">&#9733;</span>
        </div>
      </div>
      
    </tr>
    <br><br>
    <tr>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content"
                  [(ngModel)]="model.content" placeholder="Enter comment e.g Good"></textarea>
      </div>
    </tr>
    <br><br>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 
  
    <div *ngIf="status == true" class="alert alert-success mt-3">Your review has been submitted successfully.</div>
    <div *ngIf="status == false" class="alert alert-danger mt-3">An error occurred while submitting your review.</div>
   
  
